<?xml version="1.0" encoding="utf-8"?>
<content>
	<item>
		<![CDATA[<p><img src="images/business1.jpg" align="left"> AFTER MORE THAN EIGHT YEARS IN THE DESIGN POSITION IN THE FORM OF SOCIAL RENT. I HAVE SERVED SEVERAL COMPANIES AND SATISFIED CUSTOMERS. CUSTOMERS ARE MAINLY FROM FRIENDS AND COLLEAGUES, INTRODUCED IN HO CHI MINH CITY.<font color="#ed0049"><a href="http://www.flashden.net/user/Codestar" target="_blank"></a></font></p>
		]]>
	</item>
</content>