<?xml version="1.0" encoding="utf-8"?>
<menus>
    <item name="HOME PAGE" src="homepage"/>


    <item name="OUR PORTFOLIO">

        <item name="WEB WORKS">
            <item name="DYNAMIC SITES" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/dynamic_sites.xml"/>
            <item name="WEB GRAPHIC" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/web_graphic.xml"/>

        </item>

        <item name="PRINT WORKS">
            <item name="BROCHURE" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/prochure.xml"/>
            <item name="CARDS" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/cards.xml"/>
            <item name="EVENTS" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/event.xml"/>
            <item name="DESIGN" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/design.xml"/>
            <item name="MENU" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/menu_product.xml"/>
        </item>
        <item name="SHOW WORKS">
            <item name="POWERPOINT" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/powepoint.xml"/>
            <item name="ANIMATION ON WEB" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/animation.xml"/>
        </item>

        <item name="VIDEO WORKS">
            <item name="INTROS" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/videos.xml"/>
        </item>

    </item>

    <!--<item name="PHOTO GALLERY" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/photo_gallery.xml"/>

    <item name="VIDEO GALLERY" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/video_gallery.xml"/> -->

    <!--<item name="PROJECTS" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/video_photo_gallery.xml"/>-->

    <!--<item name="NEWS PAGE" src="our_news_page.swf" xml_file="xml_files/pages_xmls/our_news.xml"/>-->

    <item name="PROJECTS">

        <item name="BLISS - FRONT END" src="gallery_page.swf" xml_file="xml_files/gallery_xmls/bliss_company.xml"/>

    </item>
    <!--<item name="CMS">-->

        <!--<item name="WordPress">-->

            <!--<item name="USED FOR PROJECT" src="gallery_page.swf" xml_file="xml_files/javascript/slider_library.xml"/>-->

        <!--</item>-->

    <!--</item>-->
    <item name="JAVASCRIPT">

        <item name="USED FOR PROJECT" src="gallery_page.swf" xml_file="xml_files/javascript/slider_library.xml"/>

        <item name="AJAX" src="gallery_page.swf" xml_file="xml_files/javascript/ajax.xml"/>

    </item>

    <item name="OUR TEAM PAGE" src="our_team_page.swf" xml_file="xml_files/pages_xmls/our_team.xml"/>

    <item name="CONTACT US" src="contact_page.swf" xml_file="xml_files/contact.xml"/>

</menus>